<form method="post" action="{{ path('app_souspays_delete', {'SEQSOUSPAYS': souspay.SEQSOUSPAYS}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souspay.SEQSOUSPAYS) }}">
    <button class="btn">Delete</button>
</form>
