{% extends 'base.html.twig' %}

{% block title %}Edit Souspays{% endblock %}

{% block body %}
    <h1>Edit Souspays</h1>

    {{ include('souspays/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_souspays_index') }}">back to list</a>

    {{ include('souspays/_delete_form.html.twig') }}
{% endblock %}
