{% extends 'base.html.twig' %}

{% block title %}Modification produit{% endblock %}

{% block body %}
<div class="card card-h-10 mt-1">
    <div class="card-body table-responsive">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Modifier  produit ( {{ produit.CODEPROD }} : {{ produit.LIBPROD }} )</h4>
        </div>
    {{ include('produit/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>



{% endblock %}
